.npmrc
commands/*
!commands/README.md
!commands/cls.js
!commands/exit.js
!commands/get.js
!commands/help.js
!commands/mandelbrot.js
!commands/r.js
!commands/reset.js
!commands/set.js
!commands/toggle.js
!commands/unset.js
console_config.json
console_history.json
node_modules/
package-lock.json
server.log

# files to ignore for ragemp server
conf.json
ragemp-server.exe
ragemp-server_stdout.log
BugTrap-x64.dll
bin
maps/
client_packages/
packages/
plugins/
mouse_debug.log
